language: cpp

sudo: required

before_install:
  - if [ "${TRAVIS_EVENT_TYPE}" = "cron" ]; then (rm -rf build antlr/build antlr/install) fi
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - sudo apt-get install -qq g++-6
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90
  - sudo apt-get install uuid-dev
  - mkdir -p build
  - cd build
  - g++ --version

install:
  - cmake ..
  - make

before_script:
  - cd ../tests
  - chmod +x asm-test.sh symbols-test.sh lib/assert.sh
  - chmod +x ../bin/unittest

script:
  - ../bin/unittest
  - ./symbols-test.sh
  - ./asm-test.sh

before_cache:
  - cd ..
  - chmod 777 ./build/**

cache:
  directories:
    - build
    - antlr/build
    - antlr/install

notifications:
  email:
    false
